<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Phuong Vu's developer skills</title>
</head>
<body>
    <main>
        <nav>
            <a href="/">&lt; Home</a>
        </nav>
        <h2>Click on each skill listed below to assess my proficiency:</h2>
        <ul>
            <% skills.forEach(function(skill) { %>
                <li>
                    <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>