<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Phuong Vu's developer skills</title>
</head>
<body>
    <main>
        <nav>
            <a href="/skills">&lt; Back to skills</a>
        </nav>
        <h2><%= skill.name %> - <%= skill.proficiency %></h2>
    </main>
</body>
</html>