<!DOCTYPE html>
<html>
  <head>
    <title><%= "Phuong Vu's developer skills" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= "Phuong Vu's developer skills" %></h1>
  </body>
</html>